*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url('https://codingsumit.com/static/d12ffc0adcabf97828b7b9fb6d075bc1/bde8a/rl0.webp');
    background-size: cover;
    height: 100vh;
}

.right{
    width: 360px;
    background-color: #ffffff;
    height: 580px;
    position: absolute;
    left: 60%;
    border-radius: 25px;
    top: calc(50% - 580px / 2);
    text-align: center;
}

img{
    width: 150px;
    margin-top: 30px;
}

h1{
    margin-top: 50px;
    color: blueviolet;
}

.inputs{
    margin-top: 25px;
    text-align: center;
    width: 85%;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid rgb(98, 98, 251);
    outline: none;
}

#login{
    margin-top: 20px;
}

label{
    color: rgb(98, 98, 251);
    font-size: 17px;
}

button{
    margin-top: 20px;
    width: 75%;
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    font-size: 23px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgb(209, 125, 209);
    border: none;
    color: white;
}

a{
    text-decoration: none;
}

i{
    position: relative;
    left: 40px;
    top: 4px;
    font-size: 20px;
}

button:hover{
    background-color: rgb(74, 74, 239);
}